@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors theme-light */
    --clr-background-light: #adcac4;
    --clr-primary-light: #e0e0e0;
    --clr-secondary-light: #b0b0b0;
    --clr-accent-light: #1c1d20;
    --clr-text-light: #101114;
    --clr-danger-light: #ff0033;
    --clr-overlay: #1c1d2094;
    --clr-blur-content: #00000023;
    --clr-shadow-light: #00000080;
    --clr-dark: #e9e9eb80;

    /* Colors theme-dark */
    --clr-background-dark: #101114;
    --clr-primary-dark: #1c1d20;
    --clr-secondary-dark: #b0b0b0;
    --clr-accent-dark: #adcac4;
    --clr-text-dark: #e0e0e0;
    --clr-danger-dark: #ff0033;

    /* Font families */
    --font-title: "Alfa Slab One", serif;
    --font-text: "Lato", sans-serif;
}

/* Global Styles */
html {
    font-size: 16pt;
    color: var(--text-color);
}

body {
    min-height: 100vh;
    background-color: var(--clr-background-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 1rem;
    max-width: 900px;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: var(--font-title);
    text-transform: uppercase;
}

p {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: var(--clr-text-light);
}

ul {
    list-style: none;
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: var(--clr-background-light);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 8px;
    height: 70px;
    width: 100%;
}

/* Containers and inputs */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 80vw;
    height: 200px;
    border: 1px solid var(--clr-accent-light);
    border-radius: 0.5rem;
    box-shadow: 2px 4px 4px 2px var(--clr-shadow-light);
}

/* Icons and Buttons */
i {
    cursor: pointer;
    transition: 200ms ease;
    color: var(--clr-text-light);
}

i:hover {
    transform: scale(1.7);
    border-radius: 2px;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--clr-text-light);
}

.header-container h1 {
    flex-grow: 1;
    text-align: center;
    padding-right: 2rem;
}

/* Blur Content behind overlay */
#blur-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: var(--clr-blur-content);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 4;
}

#blur-content.active {
    opacity: 1;
    visibility: visible;
}

/* Curtain Menu */
.curtain-overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--clr-overlay);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-nav-links {
    position: relative;
    top: 5rem;
    width: 100vw;
    text-align: center;
}

.curtain-overlay li {
    margin-bottom: 1rem;
}

.curtain-overlay li:hover {
    transform: scale(1.7);
}

.curtain-overlay a {
    color: var(--clr-primary-light);
    font-family: var(--font-text);
    font-weight: 600;
}

#curtain-close {
    position: absolute;
    top: 3rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-danger-light);
    z-index: 5;
}

/* Home Container */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 80vw;
    height: 230px;
    border: 1px solid var(--clr-accent-light);
    border-radius: 0.5rem;
    box-shadow: 2px 4px 4px 2px var(--clr-shadow-light);
    text-align: center;
    display: none;
}

.home-nav-links {
    font-family: var(--font-text);
    font-size: larger;
    font-weight: 600;
}

.home-nav-links li {
    padding: 4px 0;
}

.home-nav-links li a:hover {
    background-color: var(--clr-secondary-light);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

/* vst section */
#vst {
    display: block;
}

/* fuel consumption */
#fuel-consumption {
    display: none;
}

/* co2 footprint */
#co2-footprint {
    display: none;
}