@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors theme-light */
    --clr-background-light: #adcac4;
    --clr-primary-light: #e0e0e0;
    --clr-secondary-light: #b0b0b0;
    --clr-accent-light: #1c1d20;
    --clr-text-light: #101114;
    --clr-danger-light: #ff0033;
    --clr-overlay: #1c1d2094;
    --clr-blur-content: #00000023;
    --clr-shadow-light: #00000080;
    --clr-dark: #e9e9eb80;

    /* Colors theme-dark */
    --clr-background-dark: #101114;
    --clr-primary-dark: #1c1d20;
    --clr-secondary-dark: #b0b0b0;
    --clr-accent-dark: #adcac4;
    --clr-text-dark: #e0e0e0;
    --clr-danger-dark: #ff0033;

    /* Font families */
    --font-title: "Alfa Slab One", serif;
    --font-text: "Lato", sans-serif;
}

/* MARK: Global Styles */
html {
    font-size: 16pt;
    color: var(--text-color);
}

body {
    min-height: 100vh;
    background-color: var(--clr-background-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    height: auto;
    background-color: var(--clr-background-light);
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3 {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: var(--font-title);
    text-transform: uppercase;
}

p {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: var(--clr-text-light);
}

ul {
    list-style: none;
}

main {
    flex: 1 0 auto;
}

section {
    margin-top: 4rem;
}

footer {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 8px;
    height: 50px;
    width: 100%;
}

/* MARK: Utilities */

/* Icons and Buttons */
i {
    cursor: pointer;
    transition: 200ms ease;
    color: var(--clr-text-light);
}

i:hover {
    transform: scale(1.7);
    border-radius: 2px;
}

.fa-delete-left {
    padding-right: 1rem;
}

.fa-delete-left:hover {
    color: var(--clr-danger-light);
}

/* Hide Arrows From Input Number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* flex utilities */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.grid-wrapper {
    margin-left: 2rem;
    justify-items: center;
    align-items: center;
}

.instructions-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.instructions-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.instructions-title h4 {
    padding: 0 0.5rem;
}

.instructions-title:nth-last-child(1) {
    margin-top: 1rem;
}

/* MARK: main content */

/* Containers, labels, and inputs  */
.container {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 90vw;
    height: 320px;
    border: 1px solid var(--clr-accent-light);
    border-radius: 0.5rem;
    box-shadow: 2px 4px 4px 2px var(--clr-shadow-light);
}

.container h2 {
    margin: 0.5rem 0.5rem 0.5rem;
    text-align: center;
}

.units,
label {
    font-size: large;
    font-weight: 600;
}

option {
    font-family: var(--font-text);
    font-size: medium;
    font-weight: 600;
}

.output-container,
.input-container {
    display: grid;
    grid-template-columns: 120px 50px 80px;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    text-align: left;
    justify-content: center;
    align-items: center;
}

/* MARK: instructions */
.instructions-container {
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.instructions-container h2,
.instructions-container h3,
.instructions-container h4 {
    text-align: center;
    line-height: 1.5;
    margin-top: 0.5rem;
    text-transform: capitalize;
}

.instructions {
    padding: 0.5rem;
    width: 90vw;
    height: auto;
    border: 1px solid var(--clr-accent-light);
    border-radius: 0.5rem;
    box-shadow: 2px 4px 4px 2px var(--clr-shadow-light);
}

.instructions ul {
    list-style: unset;
}

.input-field {
    justify-self: center;
    align-self: center;
    width: 60px;
    height: 30px;
    border-radius: 0.25rem;
    font-family: var(--font-text);
    font-size: medium;
    font-weight: 600;
    text-align: center;
    background-color: var(--clr-secondary-light);
    caret-color: var(--clr-text-light);
    resize: none;
    overflow: auto;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    align-items: center;
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--clr-text-light);
}

.header-container h1 {
    flex-grow: 1;
    text-align: center;
    padding-right: 2rem;
}

/* Blur Content behind overlay */
#blur-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: var(--clr-blur-content);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 4;
}

#blur-content.active {
    opacity: 1;
    visibility: visible;
}

/* Curtain Menu */
.curtain-overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--clr-overlay);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-nav-links {
    position: relative;
    top: 5rem;
    width: 100vw;
    text-align: center;
}

.curtain-overlay li {
    margin-bottom: 1rem;
}

.curtain-overlay li:hover {
    transform: scale(1.7);
}

.curtain-overlay a {
    color: var(--clr-primary-light);
    font-family: var(--font-text);
    font-weight: 600;
}

#curtain-close {
    position: absolute;
    top: 3rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-danger-light);
    z-index: 5;
}

/* Home Container */
.home-nav-links {
    font-family: var(--font-text);
    font-size: larger;
    font-weight: 600;
    text-align: center;
}

.home-nav-links li {
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.home-nav-links li:hover {
    background-color: var(--clr-secondary-light);
}

/* vst section */
#vst {
    display: grid;
}

/* fuel consumption section */
#fuel-consumption {
    display: grid;
}

/* currency calculator section*/
#currency-calculator {
    display: grid;
}

/* co2 footprint section */
#co2-footprint {
    display: grid;
}

/* instructions section */
#instructions {
    display: none;
}

/* MARK Responsive Designs */


/* For tablets  >= 768px */
@media (min-width: 768px) {
    .container {
        max-width: 500px;
    }

    .output-container,
    .input-container {
        display: grid;
        grid-template-columns: 120px 70px 70px;
    }


}

/* For laptops >= 992px */
@media (min-width: 992px) {

    .section-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #vst,
    #fuel-consumption {
        margin-top: 6rem;
    }

    .container {
        max-width: 450px;
        margin-top: 0;
    }

    #currency-calculator,
    #co2-footprint {
        margin-top: 0;
    }
}